<?xml version="1.0"?>
<!--
/**
 * Shop System Plugins - Terms of Use
 *
 * The plugins offered are provided free of charge by Wirecard Central Eastern Europe GmbH
 * (abbreviated to Wirecard CEE) and are explicitly not part of the Wirecard CEE range of
 * products and services.
 *
 * They have been tested and approved for full functionality in the standard configuration
 * (status on delivery) of the corresponding shop system. They are under General Public
 * License Version 2 (GPLv2) and can be used, developed and passed on to third parties under
 * the same terms.
 *
 * However, Wirecard CEE does not provide any guarantee or accept any liability for any errors
 * occurring when used in an enhanced, customized shop system configuration.
 *
 * Operation in an enhanced, customized configuration is at your own risk and requires a
 * comprehensive test phase by the user of the plugin.
 *
 * Customers use the plugins at their own risk. Wirecard CEE does not guarantee their full
 * functionality neither does Wirecard CEE assume liability for any disadvantages related to
 * the use of the plugins. Additionally, Wirecard CEE does not guarantee the full functionality
 * for customized shop systems or installed plugins of other vendors of plugins within the same
 * shop system.
 *
 * Customers are responsible for testing the plugin's functionality before starting productive
 * operation.
 *
 * By installing the plugin into the shop system the customer agrees to these terms of use.
 * Please do not use the plugin if you do not agree to these terms of use!
 */
 -->
<config>
    <modules>
        <wirecard_checkoutseamless>
            <version>4.0.7</version>
        </wirecard_checkoutseamless>
    </modules>
    <global>
        <models>
            <wirecard_checkoutseamless>
                <class>Wirecard_CheckoutSeamless_Model</class>
            </wirecard_checkoutseamless>
        </models>
        <helpers>
            <wirecard_checkoutseamless>
                <class>Wirecard_CheckoutSeamless_Helper</class>
            </wirecard_checkoutseamless>
        </helpers>
        <resources>
            <wirecard_checkoutseamless_setup>
                <setup>
                    <module>Wirecard_CheckoutSeamless</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wirecard_checkoutseamless_setup>
            <wirecard_checkoutseamless_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </wirecard_checkoutseamless_write>
            <wirecard_checkoutseamless_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </wirecard_checkoutseamless_read>
        </resources>
        <blocks>
            <wirecard_checkoutseamless>
                <class>Wirecard_CheckoutSeamless_Block</class>
            </wirecard_checkoutseamless>
        </blocks>

        <events>
            <sales_order_payment_place_end>
                <observers>
                    <wirecard_checkoutseamless>
                        <model>wirecard_checkoutseamless/observer</model>
                        <method>salesOrderPaymentPlaceEnd</method>
                        <type>singleton</type>
                    </wirecard_checkoutseamless>
                </observers>
            </sales_order_payment_place_end>

            <controller_front_init_before>
                <observers>
                    <wirecard_checkoutseamless>
                        <class>Wirecard_CheckoutSeamless_Model_Autoloader</class>
                        <method>addAutoloader</method>
                        <type>singleton</type>
                    </wirecard_checkoutseamless>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <wirecard_checkoutseamless>
                <use>standard</use>
                <args>
                    <module>Wirecard_CheckoutSeamless</module>
                    <frontName>wirecard_checkoutseamless</frontName>
                </args>
            </wirecard_checkoutseamless>
        </routers>
        <translate>
            <modules>
                <wirecard_checkoutseamless>
                    <files>
                        <default>Wirecard_CheckoutSeamless.csv</default>
                    </files>
                </wirecard_checkoutseamless>
            </modules>
        </translate>
        <layout>
            <updates>
                <wirecard_checkoutseamless>
                    <file>wirecard_checkoutseamless.xml</file>
                </wirecard_checkoutseamless>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wirecardcheckoutpage after="Mage_Adminhtml">Wirecard_CheckoutSeamless_Admin</wirecardcheckoutpage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <wirecard_checkoutseamless>
                    <files>
                        <default>wirecard_checkoutseamless.csv</default>
                    </files>
                </wirecard_checkoutseamless>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <wirecard_checkoutseamless>
            <settings>
                <configuration>demo</configuration>
                <customer_id>D200001</customer_id>
                <shop_id>seamless</shop_id>
                <secret>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret>
                <backendpw>jcv45z</backendpw>
            </settings>
            <options>
                <serviceurl>about-magento-demo-store</serviceurl>
                <mobiledetect>1</mobiledetect>
                <maxretries>-1</maxretries>
            </options>
            <ccard>
                <showcardholder>1</showcardholder>
                <showcvc>1</showcvc>
            </ccard>
        </wirecard_checkoutseamless>
        <payment>
            <wirecard_checkoutseamless_cc>
                <active>1</active>
                <model>wirecard_checkoutseamless/cc</model>
                <title>Wirecard Checkout Seamless Credit Card / Maestro SecureCode</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_cc>
            <wirecard_checkoutseamless_ccMoto>
                <active>0</active>
                <model>wirecard_checkoutseamless/ccMoto</model>
                <title>Wirecard Checkout Seamless CreditCard MoTo</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_ccMoto>
            <wirecard_checkoutseamless_eps>
                <active>1</active>
                <model>wirecard_checkoutseamless/eps</model>
                <title>Wirecard Checkout Seamless eps Online Bank Transfer</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_eps>
            <wirecard_checkoutseamless_ideal>
                <active>1</active>
                <model>wirecard_checkoutseamless/ideal</model>
                <title>Wirecard Checkout Seamless iDEAL</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_ideal>
            <wirecard_checkoutseamless_giropay>
                <active>1</active>
                <model>wirecard_checkoutseamless/giropay</model>
                <title>Wirecard Checkout Seamless giropay</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_giropay>
            <wirecard_checkoutseamless_tatrapay>
                <active>1</active>
                <model>wirecard_checkoutseamless/tatrapay</model>
                <title>Wirecard Checkout Seamless TatraPay</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_tatrapay>
            <wirecard_checkoutseamless_sofortbanking>
                <active>1</active>
                <model>wirecard_checkoutseamless/sofortbanking</model>
                <title>Wirecard Checkout Seamless SOFORT Banking</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_sofortbanking>
            <wirecard_checkoutseamless_skrilldirect>
                <active>1</active>
                <model>wirecard_checkoutseamless/skrilldirect</model>
                <title>Wirecard Checkout Seamless Skrill Direct</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_skrilldirect>
            <wirecard_checkoutseamless_skrillwallet>
                <active>1</active>
                <model>wirecard_checkoutseamless/skrillwallet</model>
                <title>Wirecard Checkout Seamless Skrill Digital Wallet</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_skrillwallet>
            <wirecard_checkoutseamless_mpass>
                <active>1</active>
                <model>wirecard_checkoutseamless/mpass</model>
                <title>Wirecard Checkout Seamless mpass</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_mpass>
            <wirecard_checkoutseamless_bmc>
                <active>1</active>
                <model>wirecard_checkoutseamless/bmc</model>
                <title>Wirecard Checkout Seamless BanContact/Mister Cash</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_bmc>
            <wirecard_checkoutseamless_p24>
                <active>1</active>
                <model>wirecard_checkoutseamless/p24</model>
                <title>Wirecard Checkout Seamless Przelewy24</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_p24>
            <wirecard_checkoutseamless_poli>
                <active>1</active>
                <model>wirecard_checkoutseamless/poli</model>
                <title>Wirecard Checkout Seamless POLi</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_poli>
            <wirecard_checkoutseamless_moneta>
                <active>1</active>
                <model>wirecard_checkoutseamless/moneta</model>
                <title>Wirecard Checkout Seamless moneta.ru</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_moneta>
            <wirecard_checkoutseamless_ekonto>
                <active>1</active>
                <model>wirecard_checkoutseamless/ekonto</model>
                <title>Wirecard Checkout Seamless eKonto</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_ekonto>
            <wirecard_checkoutseamless_trustly>
                <active>1</active>
                <model>wirecard_checkoutseamless/trustly</model>
                <title>Wirecard Checkout Seamless Trustly</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_trustly>
            <wirecard_checkoutseamless_paybox>
                <active>1</active>
                <model>wirecard_checkoutseamless/paybox</model>
                <title>Wirecard Checkout Seamless paybox</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_paybox>
            <wirecard_checkoutseamless_paysafecard>
                <active>1</active>
                <model>wirecard_checkoutseamless/paysafecard</model>
                <title>Wirecard Checkout Seamless paysafecard</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_paysafecard>
            <wirecard_checkoutseamless_quick>
                <active>1</active>
                <model>wirecard_checkoutseamless/quick</model>
                <title>Wirecard Checkout Seamless @Quick</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_quick>
            <wirecard_checkoutseamless_paypal>
                <active>1</active>
                <model>wirecard_checkoutseamless/paypal</model>
                <title>Wirecard Checkout Seamless PayPal</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_paypal>
            <wirecard_checkoutseamless_epaybg>
                <active>1</active>
                <model>wirecard_checkoutseamless/epaybg</model>
                <title>Wirecard Checkout Seamless epay.bg</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_epaybg>
            <wirecard_checkoutseamless_sepadd>
                <active>1</active>
                <model>wirecard_checkoutseamless/sepadd</model>
                <title>Wirecard Checkout Seamless SEPA Direct Debit</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_sepadd>
            <wirecard_checkoutseamless_invoice>
                <active>1</active>
                <provider>payolution</provider>
                <model>wirecard_checkoutseamless/invoice</model>
                <title>Wirecard Checkout Seamless Invoice</title>
                <allowspecific>0</allowspecific>
                <min_order_total>10</min_order_total>
                <max_order_total>3500</max_order_total>
                <payolution_terms>0</payolution_terms>
            </wirecard_checkoutseamless_invoice>
            <wirecard_checkoutseamless_invoiceb2b>
                <active>1</active>
                <provider>payolution</provider>
                <model>wirecard_checkoutseamless/invoiceb2b</model>
                <title>Wirecard Checkout Seamless Invoice B2B</title>
                <allowspecific>0</allowspecific>
                <min_order_total>25</min_order_total>
                <max_order_total>3500</max_order_total>
            </wirecard_checkoutseamless_invoiceb2b>
            <wirecard_checkoutseamless_installment>
                <active>1</active>
                <provider>payolution</provider>
                <model>wirecard_checkoutseamless/installment</model>
                <title>Wirecard Checkout Seamless Installment</title>
                <allowspecific>0</allowspecific>
                <min_order_total>150</min_order_total>
                <max_order_total>3500</max_order_total>
                <payolution_terms>0</payolution_terms>
            </wirecard_checkoutseamless_installment>
            <wirecard_checkoutseamless_voucher>
                <active>1</active>
                <model>wirecard_checkoutseamless/voucher</model>
                <title>Wirecard Checkout Seamless My Voucher</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_voucher>
            <wirecard_checkoutseamless_trustpay>
                <active>1</active>
                <model>wirecard_checkoutseamless/trustpay</model>
                <title>Wirecard Checkout Seamless TrustPay</title>
                <allowspecific>0</allowspecific>
            </wirecard_checkoutseamless_trustpay>

        </payment>
    </default>
</config>