<?xml version="1.0"?>
<!--
/**
 * Shop System Plugins - Terms of Use
 *
 * The plugins offered are provided free of charge by Qenta Payment CEE GmbH
 * (abbreviated to Qenta CEE) and are explicitly not part of the Qenta CEE range of
 * products and services.
 *
 * They have been tested and approved for full functionality in the standard configuration
 * (status on delivery) of the corresponding shop system. They are under General Public
 * License Version 2 (GPLv2) and can be used, developed and passed on to third parties under
 * the same terms.
 *
 * However, Qenta CEE does not provide any guarantee or accept any liability for any errors
 * occurring when used in an enhanced, customized shop system configuration.
 *
 * Operation in an enhanced, customized configuration is at your own risk and requires a
 * comprehensive test phase by the user of the plugin.
 *
 * Customers use the plugins at their own risk. Qenta CEE does not guarantee their full
 * functionality neither does Qenta CEE assume liability for any disadvantages related to
 * the use of the plugins. Additionally, Qenta CEE does not guarantee the full functionality
 * for customized shop systems or installed plugins of other vendors of plugins within the same
 * shop system.
 *
 * Customers are responsible for testing the plugin's functionality before starting productive
 * operation.
 *
 * By installing the plugin into the shop system the customer agrees to these terms of use.
 * Please do not use the plugin if you do not agree to these terms of use!
 */
 -->
<config>
    <modules>
        <Qenta_CheckoutSeamless>
            <version>4.2.8</version>
        </Qenta_CheckoutSeamless>
    </modules>
    <global>
        <models>
            <qenta_checkoutseamless>
                <class>Qenta_CheckoutSeamless_Model</class>
            </qenta_checkoutseamless>
        </models>
        <helpers>
            <qenta_checkoutseamless>
                <class>Qenta_CheckoutSeamless_Helper</class>
            </qenta_checkoutseamless>
        </helpers>
        <resources>
            <qenta_checkoutseamless_setup>
                <setup>
                    <module>Qenta_CheckoutSeamless</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qenta_checkoutseamless_setup>
            <qenta_checkoutseamless_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qenta_checkoutseamless_write>
            <qenta_checkoutseamless_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qenta_checkoutseamless_read>
        </resources>
        <blocks>
            <qenta_checkoutseamless>
                <class>Qenta_CheckoutSeamless_Block</class>
            </qenta_checkoutseamless>
        </blocks>

        <events>
            <sales_order_payment_place_end>
                <observers>
                    <qenta_checkoutseamless>
                        <model>qenta_checkoutseamless/observer</model>
                        <method>salesOrderPaymentPlaceEnd</method>
                        <type>singleton</type>
                    </qenta_checkoutseamless>
                </observers>
            </sales_order_payment_place_end>

            <controller_front_init_before>
                <observers>
                    <qenta_checkoutseamless>
                        <class>Qenta_CheckoutSeamless_Model_Autoloader</class>
                        <method>addAutoloader</method>
                        <type>singleton</type>
                    </qenta_checkoutseamless>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <qenta_checkoutseamless>
                <use>standard</use>
                <args>
                    <module>Qenta_CheckoutSeamless</module>
                    <frontName>qenta_checkoutseamless</frontName>
                </args>
            </qenta_checkoutseamless>
        </routers>
        <translate>
            <modules>
                <qenta_checkoutseamless>
                    <files>
                        <default>Qenta_CheckoutSeamless.csv</default>
                    </files>
                </qenta_checkoutseamless>
            </modules>
        </translate>
        <layout>
            <updates>
                <qenta_checkoutseamless>
                    <file>qenta_checkoutseamless.xml</file>
                </qenta_checkoutseamless>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <qentacheckoutpage after="Mage_Adminhtml">Qenta_CheckoutSeamless_Admin</qentacheckoutpage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <qenta_checkoutseamless>
                    <files>
                        <default>qenta_checkoutseamless.csv</default>
                    </files>
                </qenta_checkoutseamless>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <qenta_checkoutseamless>
            <settings>
                <configuration>demo</configuration>
                <customer_id>D200001</customer_id>
                <shop_id>seamless</shop_id>
                <secret>B8AKTPWBRMNBV455FG6M2DANE99WU2</secret>
                <backendpw>jcv45z</backendpw>
            </settings>
            <options>
                <serviceurl>about-magento-demo-store</serviceurl>
                <mobiledetect>1</mobiledetect>
                <maxretries>-1</maxretries>
            </options>
            <ccard>
                <showcardholder>1</showcardholder>
                <showcvc>1</showcvc>
            </ccard>
        </qenta_checkoutseamless>
        <payment>
            <qenta_checkoutseamless_cc>
                <active>0</active>
                <model>qenta_checkoutseamless/cc</model>
                <title>Credit Card / Maestro SecureCode</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_cc>
            <qenta_checkoutseamless_ccMoto>
                <active>0</active>
                <model>qenta_checkoutseamless/ccMoto</model>
                <title>Credit Card - Mail Order / Telephone Order</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_ccMoto>
            <qenta_checkoutseamless_eps>
                <active>0</active>
                <model>qenta_checkoutseamless/eps</model>
                <title>eps Online Bank Transfer</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_eps>
            <qenta_checkoutseamless_ideal>
                <active>0</active>
                <model>qenta_checkoutseamless/ideal</model>
                <title>iDEAL</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_ideal>
            <qenta_checkoutseamless_giropay>
                <active>0</active>
                <model>qenta_checkoutseamless/giropay</model>
                <title>giropay</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_giropay>
            <qenta_checkoutseamless_tatrapay>
                <active>0</active>
                <model>qenta_checkoutseamless/tatrapay</model>
                <title>TatraPay</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_tatrapay>
            <qenta_checkoutseamless_sofortbanking>
                <active>0</active>
                <model>qenta_checkoutseamless/sofortbanking</model>
                <title>Online bank transfer.</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_sofortbanking>
            <qenta_checkoutseamless_skrillwallet>
                <active>0</active>
                <model>qenta_checkoutseamless/skrillwallet</model>
                <title>Skrill Digital Wallet</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_skrillwallet>
            <qenta_checkoutseamless_bmc>
                <active>0</active>
                <model>qenta_checkoutseamless/bmc</model>
                <title>Bancontact</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_bmc>
            <qenta_checkoutseamless_p24>
                <active>0</active>
                <model>qenta_checkoutseamless/p24</model>
                <title>Przelewy24</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_p24>
            <qenta_checkoutseamless_poli>
                <active>0</active>
                <model>qenta_checkoutseamless/poli</model>
                <title>POLi</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_poli>
            <qenta_checkoutseamless_moneta>
                <active>0</active>
                <model>qenta_checkoutseamless/moneta</model>
                <title>moneta.ru</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_moneta>
            <qenta_checkoutseamless_ekonto>
                <active>0</active>
                <model>qenta_checkoutseamless/ekonto</model>
                <title>eKonto</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_ekonto>
            <qenta_checkoutseamless_trustly>
                <active>0</active>
                <model>qenta_checkoutseamless/trustly</model>
                <title>Trustly</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_trustly>
            <qenta_checkoutseamless_paybox>
                <active>0</active>
                <model>qenta_checkoutseamless/paybox</model>
                <title>paybox</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_paybox>
            <qenta_checkoutseamless_paysafecard>
                <active>0</active>
                <model>qenta_checkoutseamless/paysafecard</model>
                <title>paysafecard</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_paysafecard>
            <qenta_checkoutseamless_paypal>
                <active>0</active>
                <model>qenta_checkoutseamless/paypal</model>
                <title>PayPal</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_paypal>
            <qenta_checkoutseamless_epaybg>
                <active>0</active>
                <model>qenta_checkoutseamless/epaybg</model>
                <title>epay.bg</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_epaybg>
            <qenta_checkoutseamless_sepadd>
                <active>0</active>
                <model>qenta_checkoutseamless/sepadd</model>
                <title>SEPA Direct Debit</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_sepadd>
            <qenta_checkoutseamless_invoice>
                <active>0</active>
                <provider>payolution</provider>
                <model>qenta_checkoutseamless/invoice</model>
                <title>Invoice</title>
                <allowspecific>0</allowspecific>
                <min_order_total>10</min_order_total>
                <max_order_total>3500</max_order_total>
                <payolution_terms>0</payolution_terms>
            </qenta_checkoutseamless_invoice>
            <qenta_checkoutseamless_invoiceb2b>
                <active>0</active>
                <provider>payolution</provider>
                <model>qenta_checkoutseamless/invoiceb2b</model>
                <title>Invoice B2B</title>
                <allowspecific>0</allowspecific>
                <min_order_total>25</min_order_total>
                <max_order_total>3500</max_order_total>
            </qenta_checkoutseamless_invoiceb2b>
            <qenta_checkoutseamless_installment>
                <active>0</active>
                <provider>payolution</provider>
                <model>qenta_checkoutseamless/installment</model>
                <title>Installment</title>
                <allowspecific>0</allowspecific>
                <min_order_total>150</min_order_total>
                <max_order_total>3500</max_order_total>
                <payolution_terms>0</payolution_terms>
            </qenta_checkoutseamless_installment>
            <qenta_checkoutseamless_voucher>
                <active>0</active>
                <model>qenta_checkoutseamless/voucher</model>
                <title>My Voucher</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_voucher>
            <qenta_checkoutseamless_trustpay>
                <active>0</active>
                <model>qenta_checkoutseamless/trustpay</model>
                <title>TrustPay</title>
                <allowspecific>0</allowspecific>
            </qenta_checkoutseamless_trustpay>

        </payment>
    </default>
</config>
